@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Nunito+Sans:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 14, 14);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3 {
    color: rgb(12, 12, 12);
    margin: 10px 0 20px;
}

.container {
    width: 500px;

}

textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag {
    background-color: #333;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px 10px 0;
    display: inline-block;
}
